
body{
    font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    margin-bottom: 20px;
}
h1{
    font-size: 64px;
    line-height: 72px;
}
h2{
    font-size: 36px;
    line-height: 46px;
}
h3{
    font-size: 18px;
    line-height: 24px;
}
a{
    color: inherit;
    cursor: pointer;
}
a:hover, a:focus{
    text-decoration: none;
}

.align-center{
    align-items: center;
}
.padding-small{
    padding: 50px 0;
}
.padding-medium{
    padding: 100px 0;
}
.padding-large{
    padding: 200px 0;
}
.button{
    cursor: pointer;
}
.mt-5{
    margin-top:5px;
}
.mt-10{
    margin-top:10px;
}
.mt-15{
    margin-top:15px;
}
.mt-20{
    margin-top:20px;
}
.primary-btn{
    padding: 20px 50px;
    background: #5BC8AF;
    position: relative;
    border: 0;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
    font-weight: 700;
    font-size: 18px;
    outline: none;
}
.primary-btn:before{
    content: url(../images/submit_arrow.svg);
    margin-right: 10px;
    padding-top: 2px;
}
.primary-btn:focus{
background: #35BB9C;
outline: none;
}
.secondary-btn{
    border: 2px solid #5BC8AF;
    box-sizing: border-box;
    border-radius: 4px;
    color: #5BC8AF;
    font-weight: 700;
    display: block;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 30px;
    font-size: 18px;
}
.secondary-btn:hover, .secondary-btn:focus{
    color: #5BC8AF;
}
.secondary-btn:after{
    content: url(../images/secondary_arrow.svg);
    margin-left: 10px;
    padding-top: 2px;
}
.grey{
    background: #F5F5F5;
}
.width100{
    width: 100%;
}

header{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    font-size: 14px;
    color: #fff;
    z-index: 2;
}

header .header-section, 
nav, 
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    border-right: 1px solid rgba(255,255,255,0.5);
    margin-right: 15px;
}
nav ul li{
    text-transform: uppercase;
    margin-right: 15px;
}
nav ul li a{
    color:rgba(255, 255, 255, 0.7);
}
nav ul li a:hover{
    color:rgba(255, 255, 255, 1);
    text-decoration: none;
}
nav ul li.active a{
    color:rgba(255, 255, 255, 1);
    text-decoration: underline;
    font-weight: 700;
}

nav p {
    font-weight: 700;
}

nav p span{
    color: #5BC8AF;
    ;
}

.banner{
    background: url(../images/banner.jpg) no-repeat ;
    background-size: cover;
    color: #fff;
    position: relative;
}
.banner .padding-large{
    padding: 100px 15px 0px 15px;
}
.banner .banner-overlap{
    background: linear-gradient(180deg, #194D41 0%, rgba(25, 77, 65, 0.7) 100%);
}
.banner h1 span{
    display: block;
    color: white; /* Unfortunately you can't use transparent here … */
    text-shadow:
	   -1px -1px 0 rgba(255,255,255,0.7),  
		1px -1px 0 rgba(255,255,255,0.7),
		-1px 1px 0 rgba(255,255,255,0.7),
		 1px 1px 0 rgba(255,255,255,0.7)
}
@supports((text-stroke: 1px rgba(255,255,255,0.7)) or (-webkit-text-stroke: 1px rgba(255,255,255,0.7))) {
    .banner h1 span {
        color: transparent;
        -webkit-text-stroke: 1px rgba(255,255,255,0.7);
		text-stroke: 1px rgba(255,255,255,0.7);
        text-shadow: none;
    }
}
.banner p{
    font-size: 18px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.8);
}

.contact-form{
    background: linear-gradient(180deg, #2A7D6C 0%, rgba(62, 105, 96, 0.62) 100%);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    padding:40px 20px;
}

img.abstract-bg1 {
    width: 100%;
    margin-bottom: -10px;
}
img.abstract-bg2{
    width: 100%;
    position: absolute;
    bottom: -2px;
    left: 0;
}
/* Form Elements */
.form__group {
    position: relative;
    padding: 15px 0;
  }
  
  .form__field {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    outline: 0;
    font-size: 16px;    
    padding: 10px;
    transition: border-color 0.2s;
    color: #fff;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 16px;
    cursor: text;
    top: 25px;
    left: 10px;
  }
  
  label.form__label,
  .form__field:focus ~ .form__label {
    position: absolute;
    top: -10px;
    left: 0px;
    display: block;
    transition: 0.2s;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .form__field:focus ~ .form__label {
    color: rgba(255, 255, 255, 1);
  }
  
  .form__field:focus {
    border: 1px solid rgba(255, 255, 255, 1);
  }

  .select {
	position: relative;
	width: 100%;
    margin: 15px 0 30px 0;
}

.select-text {
	position: relative;
	font-family: inherit;
	background: rgba(255, 255, 255, 0.1);
	width: 100%;
	padding: 10px;
	font-size: 14px;
	border-radius: 2px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
.select-text:focus{
    border: 1px solid rgba(255, 255, 255, 1);
}

/* Remove focus */
.select-text:focus {
	outline: none;
	border-bottom: 1px solid rgba(0,0,0, 0);
}

	/* Use custom arrow */
.select .select-text {
	appearance: none;
	-webkit-appearance:none
}

.select:after {
	position: absolute;
	top: 18px;
	right: 10px;
	/* Styling the down arrow */
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgba(255, 255, 255, 0.4);
	pointer-events: none;
}


/* LABEL ======================================= */
.select-label {
	color: rgba(255, 255, 255, 0.7);
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 10px;
	top: 10px;
	transition: 0.2s ease all;
}

/* active state */
.select-text:focus ~ .select-label, .select-text:valid ~ .select-label {
	color: #fff;
	top: -25px;
    left: 0;
	transition: 0.2s ease all;
	font-size: 11px;
}

/* BOTTOM BARS ================================= */
.select-bar {
	position: relative;
	display: block;
	width: 100%;
}

.select-bar:before, .select-bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: transparent;
	transition: 0.2s ease all;
}

.select-bar:before {
	left: 50%;
}

.select-bar:after {
	right: 50%;
}

/* active state */
.select-text:focus ~ .select-bar:before, .select-text:focus ~ .select-bar:after {
	width: 50%;
}

/* HIGHLIGHTER ================================== */
.select-highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}
main h2{
    color: #333;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}
main h2 strong{
    padding-right: 30px;
    position: relative;
    z-index: 1;
    background: #fff;
}

main h2:before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 1px;
    background: #EAEAEA;
}

main h2 span{
    color: #333; /* Unfortunately you can't use transparent here … */
    text-shadow:
	   -1px -1px 0 #333,  
		1px -1px 0 #333,
		-1px 1px 0 #333,
		 1px 1px 0 #333
}
@supports((text-stroke: 1px #333) or (-webkit-text-stroke: 1px #333)) {
    main h2 span {
        color: transparent;
        -webkit-text-stroke: 1px #333;
		text-stroke: 1px #333;
        text-shadow: none;
    }
}
.thumbimg{
    border-radius: 8px;
    margin-bottom: 70px;
}
.grey h2 strong{
    background: #F5F5F5;    
}
.slidequotes{
    margin-top: -40px !important;
}
.owl-carousel .owl-stage-outer{
    z-index: 3;
}
.owl-nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.owl-nav button.owl-prev, .owl-nav button.owl-next{
    color: #EAEAEA !important;
    outline: none;
    font-size: 40px !important;
}
.owl-nav button.owl-prev:hover, .owl-nav button.owl-next:hover{
    color: #5BC8AF !important;
}
.owl-nav button.owl-prev{
    margin-left: -120px;
}
.owl-nav button.owl-next{
    margin-right: -120px;
}
.owl-dots{
    text-align: center;
    margin: 30px 0;
}
.owl-carousel .owl-dot{
    background: #EAEAEA !important;
    width: 12px;
    height: 12px;
    margin-right: 20px;
    border-radius: 50%;
    outline: none;
}
.owl-carousel .owl-dot:last-child{
    margin-right: 0;
}
.owl-carousel .owl-dot.active{
    background: #5BC8AF !important;
}
.quote {
    display: flex;
    justify-content: space-between;
}
.quote img{
    width: auto !important;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.testimonial{
    width: 75%;
    display: flex;
    position: relative;
    box-sizing: border-box;
    padding: 15px 50px;
    background: #194D44;
    align-items: center;
    color: #fff;    
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.testimonial:after{
    content: url(../images/quote.svg);
    position: absolute;
    top: 60px;
    right: 50px;
}
.testimonial p{
    font-style: italic;
}

p.highlight{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
}
ul.listitems{
    margin-top: 60px;
}
ul.listitems li{
    margin-bottom: 15px;
    position: relative;
}
ul.listitems li a{
    text-align: center;
    border: 2px solid #5BC8AF;
    box-sizing: border-box;
    border-radius: 4px;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
    /* padding: 30px; */
    font-weight: 700;
    position: relative;
    transition: all 0.3s ease-in-out;
}
ul.listitems li a:hover{
    color: #5BC8AF !important;
}
ul.listitems li a:after{
    content: 'i';
    /* padding: 10px; */
    width: 20px;
    height: 20px;
    position: absolute;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 30px;
    transform: translateY(-50%);
    top: 50%;
    /* display: block; */
    border-radius: 50%;
    color: #5BC8AF;
    border: 1px solid #5BC8AF;
    transition: all 0.3s ease-in-out;
}
ul.listitems li a:hover:after{
    opacity: 1;
}
ul.listitems li a .hovertxt{
    display: none;
    background: #297C6B;
    position: absolute;
    z-index: 5;
    width: 70%;
    border-radius: 5px;
    padding: 10px 15px;
    bottom: -110%;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    
}
ul.listitems li a .hovertxt:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(41, 124, 107, 0);
	border-bottom-color: #297C6B;
	border-width: 10px;
	margin-left: -10px;
}
ul.listitems li a:hover .hovertxt{
    display: block;
    color: #fff;
    
}

section.videosection{
    background: url(../images/video_bg.jpg) no-repeat bottom;
    background-size: cover;
    color: #fff;
    position: relative;
}
section.videosection h2{
    text-transform: uppercase;
}
section.videosection h2 span{
    color: white; /* Unfortunately you can't use transparent here … */
    text-shadow:
	   -1px -1px 0 rgba(255,255,255,0.7),  
		1px -1px 0 rgba(255,255,255,0.7),
		-1px 1px 0 rgba(255,255,255,0.7),
		 1px 1px 0 rgba(255,255,255,0.7)
}
@supports((text-stroke: 1px rgba(255,255,255,0.7)) or (-webkit-text-stroke: 1px rgba(255,255,255,0.7))) {
    section.videosection h2 span {
        color: transparent;
        -webkit-text-stroke: 1px rgba(255,255,255,0.7);
		text-stroke: 1px rgba(255,255,255,0.7);
        text-shadow: none;
    }
}

section.videosection ul li{
    margin-bottom: 20px;
    position: relative;
    padding-left: 30px;
}
section.videosection ul li:before{
    content:url(../images/check_mark.svg);
    position: absolute;
    left: 0;
    top: 5px;
}
section.videosection ul li h3{
    margin-bottom: 10px;
}
.showvideo{
    position: absolute;
    top: 0;
    width: 50%;
    right: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clickvideo{
    position: relative;
    transition: all 0.3s ease-in-out;
}
.clickvideo span{
    width: 120px;
    height: 120px;
    display: block;
    background: rgba(91, 200, 175, 0.8);
    border-radius: 50%;
    position: relative;
    border: 1px solid #fff;
    z-index: 9;
}
.hovereffect{
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    top: -10px;
    left: -10px;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255,255,255,0.5);    
    transition: all 0.3s ease-in-out;
}
.clickvideo:hover .hovereffect{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    top: -30px;
    left: -30px;   
    background: rgba(255, 255, 255, 0.1); 
    transition: all 0.3s ease-in-out;
}
.clickvideo img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bottom-logo{
    position: absolute;
    right: 30px;
    bottom: 30px;
}
.modal-popup{
    position: fixed;
    width:100%;
    visibility: hidden;
    opacity: 0;
    height: 100%;
    display: flex;
    top:0;
    align-items: center;
    justify-content: center;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 10;
    transition: all 0.3s ease-in-out;
}
.modal-popup-visible{
    visibility: visible;
    opacity: 1;
}
.modal-inside{
    width: 60%;
}
.box{
    background: #fff;
    padding: 15px;
    position: relative;
}
.closemodal i{
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: -40px;
}

footer{
    background: #EAEAEA;
    padding: 15px 0;
    font-size: 13px;
    color: #757575;
}

.footer-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-section ul{
    display: flex;
}

.footer-section ul li{
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #757575;
}
.footer-section ul li:last-child{
    margin-right: 0;
    padding-right: 0;
    border: 0;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container{
        max-width: 1440px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

@media (max-width: 1300px) {
    .testimonial {
        width: 68%;
    }

}

@media (max-width: 1199.98px) {
    .banner{
        text-align: center;
    }
    .banner .padding-large {
        padding: 150px 15px 30px 15px;
    }
    .contact-form{
        margin: 30px 0;
    }
    .testimonial {
        width: 68%;
    }
    .owl-nav{
        display: none;
    }
}
@media (max-width: 991.98px) {
    header .header-section{
        align-items: start;
    }
    nav{
        display: block;
    }
    nav ul{
        margin-bottom: 10px;
        border: 0;
        margin-right: 0;
        justify-content: end;
    }
    nav ul li:last-child{
        margin: 0;
    }
    .testimonial{
        width: 58%;
    }
    .testimonial:after{
        top: 20px;
    }
    ul.listitems li a .hovertxt{
        width: 100%;
    }
    section.videosection{
        background: url(../images/video_bg_tab.jpg) no-repeat top;
        background-size: 100% 100%;
        min-height: 900px;
    }
    .showvideo{
        top: 50%;
        width: auto;
        transform: translateX(-50%);
        left: 50%;
        height: auto;
    }

    .bottom-logo {
        left: 50%;
        transform: translateX(-50%);
        right: inherit;
    }
    .modal-inside{
        width: 90%;
    }

    .footer-section{
        display: block;
        text-align: center;
    }

    .footer-section ul{
        justify-content: center;
    }
}


@media (max-width: 767.98px) {
    h1 {
        font-size: 36px;
        line-height: 42px;
    }
    h2{
        font-size: 24px;
        line-height: 32px;
    }
    .hidden-xs{
        display: none;
    }
.header-section{
    display: block !important;
}
nav {
    display: none;
    background: rgba(17,145,115,0.9);
    padding: 15px;
    border-radius: 5px;
}
nav ul li{
    margin-right: 0;
}
nav ul li a {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
}
nav p {
    font-size: 13px;
}
nav p span{
    color: rgba(255,255,255,0.4);
}
section.videosection{
    min-height: 1100px;
}
a.togglebar{
    position: absolute;
    right: 15px;
    top: 18px;
    transform: translateY(-50%);
}

a.togglebar span{
    width: 20px;
    height: 2px;
    background: #fff;
    margin-bottom: 3px;
    display: block;
}
a.togglebar.crossbutton span{
    display: none;
}
a.togglebar.crossbutton span:first-child{
    display: block;
    transform: rotate(45deg);
}
a.togglebar.crossbutton span:last-child{
    display: block;
    transform: rotate(-45deg);
    margin-top: -5px;
}
nav ul{
    display: block;
}
.quote{
    display: block;
}
.quote img{
    margin-bottom: -160px;
    position: relative;
    z-index: 9;
    max-width: 70%;
    margin-left: 15px;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.testimonial{
    width: 100%;
    padding: 200px 15px 70px 15px;
    border-radius: 10px;
}
.testimonial:after{
    top: 180px;
}

}

@media (max-width: 540px) {
    main section.white h2:before {
        content: '';
        position: absolute;
        top: 75%;
    }
}